{% extends "baseTemplate.html" %}
{% block sideNav %}
    {% include 'PCC/PCCSideNav.html' %}
{% endblock sideNav %}
{% block content %}
    <h1>Review</h1>
    <div class="form-group">
        {% if form.review_text.errors %}
            {{ form.review_text(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.review_text.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.review_text(class="form-control") }}
        {% endif %}
    </div>
    <div class="form-group">
        {% if form.reviewed_by.errors %}
            {{ form.reviewed_by(class="form-control is-invalid") }}
            <div class="invalid-feedback">
                {% for error in form.reviewed_by.errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% else %}
            {{ form.reviewed_by(class="form-control") }}
        {% endif %}
    </div>
{% endblock content %}